<div id="round">
  <% if @round.ended? %>
    <p>Il vincitore è…</p>

    <% if @winning_submission %>
      <div class="card winner">
        <div class="card-body">
          <%= formatted_card @winning_submission.card %>
        </div>
      </div>

      <p>
        Il round master <%= @round.czar %> ha scelto la carta di
        <strong><%= @winning_submission.player %></strong>
        come vincente.

        <% unless @game.mc_czar_option? %>
          Il prossimo round master è
          <strong><%= @game.next_czar %></strong>.
        <% end %>
      </p>
    <% else %>
      <p>
        <strong>No one.</strong>
        Il prossimo round master è
        <strong><%= @game.next_czar %></strong>.
      </p>
    <% end %>

    <% if @current_player == @game.next_czar %>
      <h2>
        <strong>
          <%= button_to "Sono pronto",
            game_round_path(@game),
            class: 'btn btn-primary btn-lg btn-block'
          %>
        </strong>
      </h2>
    <% end %>
  <% end %>
</div>
