<!DOCTYPE html>
<html>
  <head>
    <title>Carte contro l'umiltà</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'application/favicon' %>
  </head>

  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/">Carte contro l'umiltà</a>
    </nav>

    <main role="main">
      <%= yield %>
    </main>

    <footer class="container small text-muted text-center">
      <div class='divider'></div>
      <p>
        Traduzione in italiano da
        <a href='http://github.com/giuseongit'>Giuseppe Pagano</a>
        dell'originale fatto da
        <a href='http://kevinbongart.net'>Kevin Bongart</a>

        Nessuna affiliazione/sponsorizzazione dalla società
        <a href="https://cardsagainsthumanity.com">Cards Against Humanity</a>
        , ma dovreste assolutamente
        <a href='https://store.cardsagainsthumanity.com'>comprare il gioco</a> perchè è fottutamente divertente.

        <% if @current_player %>
          <%= link_to 'Clicca per uscire',
            @current_player,
            method: :delete,
            data: { confirm: 'Sei sicuro?' }
          %>.
        <% end %>
      </p>
    </footer>
  </body>
</html>
